.menu__lista li {
  display: inline-block;
  position: relative;
  padding: 2rem; }
  .menu__lista li a {
    text-decoration: none;
    color: #bdbd07;
    text-align: right;
    font-size: 2.5rem;
    font-weight: bold; }
  .menu__lista li:hover {
    display: block; }

.submenu {
  position: absolute;
  display: none; }
  .submenu li {
    display: block;
    font-size: 2rem;
    background-color: #bdbd07; }

#coleccion {
  background-image: url(../images/mockup-camiseta.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 600px; }
  #coleccion h2 {
    text-align: left;
    padding: 2rem; }
